@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f8f9fa;
}

/* Header styling */
#main-header {
	background-color: #343a40;
}

#main-header h1 {
	margin: 0;
}

/* Card component styling */
.card {
	margin-bottom: 20px;
}

.card-header, .card-footer {
	background-color: #007bff;
	color: #fff;
}

.card-body {
	background-color: #fff;
}

/* Form styling */
.form-group {
	margin-bottom: 20px;
}

/* Button styling */
.btn {
	cursor: pointer;
}

.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:hover {
	background-color: #0056b3;
	border-color: #0056b3;
}

.btn-success {
	background-color: #28a745;
	border-color: #28a745;
	color: #fff; /* Add text color for consistency */
}

.btn-success:hover {
	background-color: #218838;
	border-color: #218838;
}

.btn-secondary {
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-secondary:hover {
	background-color: #545b62;
	border-color: #4e555b;
}

/* Additional styling for specific elements */
.form-container {
	padding: 20px;
	border: 1px solid #dee2e6;
	border-radius: 4px;
}

.button-group {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px; /* Adjust margin as needed for spacing */
	border-top: 1px solid #dee2e6; /* Add border styling */
	padding-top: 20px;
	/* Add padding for spacing between border and buttons */
}

.button-group .btn {
	margin-left: 10px; /* Adjust margin as needed between buttons */
}